<div>
  <p class="timetable-title">Your Timetable</p>
  <div class="timetable-calendar-actions-wrapper">
    <div class="timetable-month-controller-wrapper">
      <%= image_tag('ArrowLeftIcon.svg', alt: 'Prev')%>
      <p>June</p>
      <%= image_tag('ArrowRightIcon.svg', alt: 'Next')%>
    </div>
    <button>Today</button>
  </div>
  <div class="timetable-grid">
    <div class="timetable-day-of-week-wrapper">Mon</div>
    <div class="timetable-day-of-week-wrapper">Tue</div>
    <div class="timetable-day-of-week-wrapper">Wed</div>
    <div class="timetable-day-of-week-wrapper">Thu</div>
    <div class="timetable-day-of-week-wrapper">Fri</div>
    <div class="timetable-day-of-week-wrapper">Sat</div>
    <div class="timetable-day-of-week-wrapper">Sun</div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title timetable-day-of-month-title-inactive">29</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title timetable-day-of-month-title-inactive">30</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">1</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">2</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">3</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">4</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">5</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">6</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">7</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">8</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">9</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">10</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">11</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">12</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">13</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">14</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">15</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">16</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">17</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">18</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">19</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">20</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">21</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">22</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">23</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">24</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">25</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">26</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">27</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">28</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">29</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title">30</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title timetable-day-of-month-title-inactive">1</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title timetable-day-of-month-title-inactive">2</p>
    </div>
    <div class="timetable-day-of-month-wrapper">
      <p class="timetable-day-of-month-title timetable-day-of-month-title-inactive">3</p>
    </div>
  </div>
</div>