<div>
  <div class="entity-details-wrapper">
    <div class="authorization-form-wrapper">
      <div class="entity-details-header-wrapper">
        <p>Account Details</p>
        <a href="/account/edit">
          <%= image_tag('EditIcon.svg', alt: 'Edit') %>
        </a>
      </div>
      <div class="entity-details-data-field-wrapper">
        <p>Username:</p>
        <p></p>
      </div>
      <div class="entity-details-data-field-wrapper">
        <p>First name:</p>
        <p></p>
      </div>
      <div class="entity-details-data-field-wrapper">
        <p>Last Name:</p>
        <p></p>
      </div>
      <div class="entity-details-data-field-wrapper">
        <p>Email:</p>
        <p></p>
      </div>
    </div>
  </div>
</div>