@import './colors.scss';
@import './headers.scss';
@import './timetable.scss';
@import './authorization.scss';
@import './auth.scss';
@import './entity_details.scss';
@import './media_queries.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $neutral-100;
}
