@import './colors.scss';

.header {
  &-wrapper {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    padding: 0 2rem;
    z-index: 5;
    position: relative;
  }

  &-logo {
    height: 5.5rem;
    margin-left: 1rem;

    &-wrapper{
      display: flex;
      flex-direction: row;
    }
  }

  &-actions {
    &-wrapper {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
    }

    &-secondary-button {
      margin-right: 1rem;
      text-decoration: none;
      border: 2px solid $blue-600;
      border-radius: 1.2rem;
      background: none;
      font-size: 1.6rem;
      color: $gray-800;
      font-weight: 700;
      padding: 1rem 1.2rem;
    }

    &-primary-button {
      border: none;
      text-decoration: none;
      border-radius: 1.2rem;
      background-color: $blue-600;
      border: 2px solid $blue-600;
      color: $white;
      font-size: 1.6rem;
      font-weight: 500;
      padding: 1rem 1.2rem;
    }
  }
}
#today-button{
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  border: 2px solid $blue-600;
  border-radius: 1.2rem;
  background: none;
  font-size: 1.6rem;
  color: $gray-800;
  font-weight: 700;
  padding: 1rem 1.2rem;
}
.empty-button{
  background: none;
  border: none
}
.delete-button{
  margin-top: 1rem;
}